<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

  <body>

    <h2 th:text="#{welcome}">Welcome</h2>
    <div class="row">
        <div class="col-md-12">
          <img class="img-responsive" src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png}"/>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>Java Version: <span th:text="${javaVersion}">Java Version</span></p>
        <p>Spring Boot Version: <span th:text="${springBootVersion}">Spring Boot Version</span></p>
      </div>
  </div>

  </body>

</html>